<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Hello! My name is Tony and I graduated from Amherst College with a B.A. in Statistics and Computer Science. I'm a lover of all things data science; I'm especially passionate about the weaving of analytical, rigorous code together with meaningful real-world narratives. 
	  <br>
	  I've held several positions in the past as a research assistant in a biochemistry lab and a psychology group, where we conducted research involving protein folding dynamics and meaning making through text corpora analysis, respectively.
	  I'm currently a Program Data Associate at Questbridge, where I'm thrilled to be applying my skills and knowledge to help bridge the gap between accessibility to institutions of higher education for high-achieving FGLI students.
	  <br>
	  Feel free to browse through some of my projects and/or history below! Thanks so much for taking the time to read about me!
     
      <br>
      <br>
      <br>
      <hr>
</p>

