<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About ☕</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">

    I always thought my dream was to be a PhD in economics. I’d be a quick-on-her-feet economist at some no frills nonprofit saving the world, or else lead legions of the erudite from Google or Amazon’s perch. When I had my fill of world-saving, I would write op-eds for the New York Times on my own personal brand of econ. I dreamed of creating beautiful, tight-knit theories that described the world - or what should describe the world, anyway (darn humans with their irrational behavior).
    <br>
    <br>
    Then I opened R and caught fire. 
    <br>
    <br>
    The spark in me for coding ignited the second a teacher taught me how to use my knowledge of matrix algebra to populate a vector and run a loop on it. It was stoked everytime I picked up a new language (C++, Python, SQL, HTML, CSS, JavaScript, MATLAB) and molded the code to do my bidding for projects in physics, UX/UI design, machine-learning, or geospatial data visualization, to name a few. Everytime I jumped from my seat, ecstatic that my hypothesis was correct or my thesis had found statistically significant results, I added more coals to this fire.  
    <br>
    <br>   
    I am now a masters candidate at the <b><a href="https://datascience.virginia.edu/">University of Virginia School of Data 
        Science</a></b>, after switching from an economic policy / mathematics / statistics focus as an undergraduate. I am just as enthusiastic about improving the world, but now I look to garner the skills that will help me explain it through data and creative analysis as well. My specialties include quickly learning new programming techniques, creative problem-solving, and passion to make things function better and more effectively for businesses. 
    <br>
    <br> 
    Through coding, I realized that humans are irrational creatures - but that’s O.K., because we have data. Besides, quirkiness is what makes us humans so darn wonderful. 
    <br>
    <hr>
    </p>

