<!-- Projects i.e. connected Github repos -->

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Projects 🌡 </h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">#work #in #progress</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">#code #coffee #repeat</p>
    <p style = "margin-left: 25px;" class= "text-normal">
    If you think I would be a good fit for your company, want to grab a coffee, 
    or just want to drop tips on future travel destinations, you can reach me
    at <b>amawest@umich.edu</b>. Looking forward to our chat!
    </p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>