<h2 class="text-black">Contact 📝</h2>
<p class="f4 mb-4 text-grey">Fill out this form and I'll get back to you within 1-2 days.</p>
<br>
<form method="post" action="https://formspree.io/xlepdzdg">
  <div class="wrapper">
    <div class="input-wrapper">
      <div class="input input-text">
        <input type="text" name="name" id="name" placeholder="Name" />
      </div>
    </div>
    <div class="input-wrapper">
      <div class="input input-email">
        <input type="email" name="_replyto" id="email" placeholder="Email" />
      </div>
    </div>
    <div class="input-wrapper">
      <div class="input input-message">
        <textarea name="message" id="message" placeholder="Message" cols="30" rows="7"></textarea>
      </div>
      <button type="submit">
        {% octicon arrow-right height:30 class:"mr-2 v-align-middle" fill:{{ black }} aria-label:GitHub %}
      </button>
    </div>
  </div>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
