<!-- mb-3 refers to the distance from the icon to the words below.-->

<!-- if given a web url-->
{% if topic.web_url %}
  <a href="{{ topic.web_url }}" class="github-component position-relative no-underline d-flex flex-column hover-grow height-full ">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <div>
        #
      </div>
    {% endif %}
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </a>

