<!-- mb-3 refers to the distance from the icon to the words below.-->

<!-- if given a web url-->
{% if topic.web_url %}
  <a href="{{ topic.web_url }}" class="github-component  hover-grow height-full no-underline text-center">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto mb-3" alt="{{ topic.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </a>

<!-- if not a web url-->
{% else %}
  <div class="github-component position-relative height-full text-center ">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    <p class="f3 lh-condensed text-center mb-0 mt-1">{{ topic.name }}</p>
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </div>
{% endif %}
